<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
<form id="signupForm" action="/users/signup" method="post">
    name: <input type="text" name="name"><br>
    birth: <input type="text" name="birth"><br>
    email: <input type="text" name="email"><br>
    password: <input type="text" name="password"><br>
    phoneNum: <input type="text" name="phoneNum"><br>
    accountNum: <input type="text" name="accountNum"><br>
    <input type="submit" value="회원가입" onclick="submitForm()">
</form>

<script src="../static/js.js"></script>
</body>
</html>
