<<<<<<< HEAD
=======
:root {
  --color-bg: #87a1fd;
  --color-bg-gray: #f4f1f1;
  --color-text-white: #fdfdfd;
  --color-text-black: #010101;
  --color-input-text: #b9b5b5;
  --color-point-pink: #ffb4b4;
  --color-point-yellow: #fdea87;
  --color-point-warning: #ff3f3f;
  --color-divide: #868484;

  --font-logo: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--color-text-black);
  background-color: var(--color-bg-gray);
}

>>>>>>> d5d45b4 (style: update index.css)
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
