.expendForm {
  display: flex;
  flex-direction: column;
  height: 10vh;
  padding: 2vw 2vw 0vw 2vw;
  color: var(--color-text-black);

  .timeInfo {
    display: flex;
    font-weight: 300;
  }

  .placeInfo {
    margin-top: 0.3rem;
    display: flex;
    font-size: 1.3rem;
    font-weight: 800;
    justify-content: space-between;

    .placeCost {
      color: var(--color-bg);
    }
  }

  .delBtn {
    margin-top: 0.3rem;
    align-self: flex-start;
    margin-bottom: 1vh;
    color: var(--color-divide);
    font-weight: 600;
  }
}
