.diaryDetailPage {
  display: flex;
  justify-content: space-between;
}

.detailHeader {
  width: 10vw;
  height: 94vh;
  margin-top: 3vh;
  margin-left: 1.5vw;
  background-color: var(--color-bg);
  border-radius: 50px 20px 20px 50px;

  .detailName {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: var(--color-text-white);
    margin-top: 6vh;
    font-family: var(--color-logo);
  }
}

.detailMain {
  display: flex;
  width: 85vw;

  .expendSec {
    display: flex;
    width: 96vh;
    flex-direction: column;
    margin-top: 3vh;

    .loginSec {
      margin-right: 6vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 5vh;

      .userName {
        font-size: 1.5rem;
        font-weight: 600;
        margin-right: 1vw;
      }

      .logout {
        color: var(--color-text-white);
        font-weight: 600;
        width: 6vw;
        background-color: var(--color-bg);
        font-size: 1.3rem;
        height: 5vh;
      }
    }

    .viewSec {
      display: flex;
      justify-content: space-between;
      font-size: 2.5rem;
      font-weight: 600;
      margin-right: 6vw;
      margin-bottom: 3vh;

      .viewDate {
        display: flex;
        .viewStart {
          margin-right: 3vw;
        }
        .viewDay {
          margin-right: 1vw;
        }
      }
    }
    .eachSec {
      background-color: var(--color-text-white);
      border-radius: 40px;
      width: 45vw;
      height: 60vh;
    }
    .addModify {
      position: absolute;
      width: 3vw;
      height: 6vh;
      border-radius: 50%;
      font-size: 3rem;
      font-weight: 600;
      line-height: 7vh;
      color: var(--color-text-white);
      background-color: var(--color-bg);
      top: 90%;
      left: 57%;
    }
  }

  .imgSec {
    display: flex;
    align-items: center;
    .noImage {
      font-weight: 600;
      font-size: 2rem;
    }
    .imgSrc {
      flex-grow: 0.5;
      border-radius: 50px;
      width: 35vw;
      height: 94vh;
      margin-top: 3vh;
      margin-right: 2vw;
    }

    .modifyBtn {
      position: absolute;
      top: 5%;
      left: 94%;
      background: none;
      .modifyImg {
        width: 3vw;
      }
    }
  }
}
