.loginBackground {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

.loginImage {
  position: absolute;
  z-index: 30;
  width: 100vw;
  height: 100vh;
}

.loginMainContainer {
  z-index: 50;
  width: 50vw;
  height: 85vh;
  background-color: var(--color-text-white);
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  .loginMainSec {
    justify-content: center;
  }
  .logoArea {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0.3;
    margin-right: 2vw;
    .logo {
      margin-left: -1vw;
      font-family: var(--font-logo);
    }
  }
  .loginH1 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .loginH2 {
    font-size: 4rem;
    font-family: var(--font-logo);
    margin-top: 1rem;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;

    .loginInputArea {
      display: flex;
      flex-direction: column;

      input {
        font-size: 1.2rem;
        width: 38vw;
        padding: 1vw;
        font-weight: bold;
        border: 1px solid var(--color-divide);
      }
      .email {
        border-radius: 5px 5px 0 0;
      }
      .password {
        border-top: none;
        border-radius: 0 0 5px 5px;
      }
    }

    .loginBtn {
      border: 0;
      border-radius: 0.3rem;
      width: 40vw;
      padding: 1vh;
      font-size: 1.2rem;
      font-weight: 600;
      height: 6vh;
      line-height: 4vh;
      color: var(--color-text-white);
      background-color: var(--color-bg);
      margin-top: 3vh;
    }
  }

  .registerBtn {
    background-color: var(--color-text-white);
    border: 0px;
    font-weight: bold;
    height: 4vh;
    font-size: 1.2rem;
    margin-top: 1vh;
    width: fit-content;
    align-self: center;
  }
}
