.diaryFractal {
  display: flex;
  flex-direction: column;
  width: 11.9vw;
  height: 24vh;
  padding: 0.5vw;
  margin-top: 0.5vh;
  background-color: var(--color-text-white);

  .tripDate {
    font-weight: 600;
    align-self: flex-end;
  }
}

.blocked {
  background-color: var(--color-divide);
  pointer-events: none;
}
