.signupBackground {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

.signupMainContainer {
  width: 50vw;
  height: 80vh;
  background-color: var(--color-text-white);
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  h1 {
    font-size: 2.5rem; //16px
    font-weight: bold;
    margin-top: 2rem;
  }

  h2 {
    font-size: 4.5rem;
    font-family: var(--font-logo);
  }

  .authArea {
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: space-between;
    align-self: center;
    // margin-top: 4vh;

    .formArea {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      margin-right: 1vw;
      border: 1px solid var(--color-input-text);
      border-radius: 0.3rem;

      .authForm {
        display: flex;

        input {
          width: 100%;
          justify-content: flex-start;
          border: 1px solid var(--color-input-text);
          padding: 1vw;
          font-weight: bold;
        }

      }

      .confirmForm {
        display: flex;
        
        input {
          width: 100%;
          justify-content: flex-start;
          border: 1px solid var(--color-input-text);
          padding: 1vw;
          font-weight: bold;
        }
      }
    }

    .btnArea {
      display:  flex;
      flex-direction: column;
      justify-content: space-around;

      .authBtn {
        height: 4vh;
        width: 5vw;
        border: 0;
        border-radius: 0.3rem;
        color: var(--color-text-white);
        background-color: var(--color-bg);
      }

      .confirmBtn {
        height: 4vh;
        width: 5vw;
        border: 0;
        border-radius: 0.3rem;
        color: var(--color-text-white);
        background-color: var(--color-bg);
      }
    }
  }

  .signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .signupInputArea {
      display: flex;
      flex-direction: column;
      width: 35vw;
      border: 1px solid var(--color-input-text);
      border-radius: 0.3rem;

      input {
        border: 1px solid var(--color-input-text);
        width: 33vw;
        padding: 1vw;
        font-weight: bold;
      }
    }
  }

  .registerBtn {
    height: 4.5vh;
    border: 0;
    border-radius: 0.3rem;
    width: 35vw;
    padding: 1vh;
    color: var(--color-text-white);
    align-self: center;
    background-color: var(--color-bg);
    // margin-top: 3vh;
  }
}