.exchangePage {
  display: flex;
  justify-content: space-around;
}
.exchangeHeader {
  width: 10vw;
  height: 94vh;
  margin-top: 3vh;
  margin-left: 1.5vw;
  background-color: var(--color-point-pink);
  border-radius: 50px 20px 20px 50px;

  .exchangeName {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: var(--color-text-white);
    margin-top: 6vh;
  }
}

.exchangeForm {
  margin-top: 6vh;
  display: flex;
  width: 90vw;
  height: 88vh;
  justify-content: space-evenly;

  .accountInfo,
  .personalInfo {
    display: flex;
    width: 32vw;
    flex-direction: column;
    font-weight: 600;
    justify-content: space-around;
    .intro {
      display: flex;
      font-size: 2.5rem;
      .hello {
        margin-right: 1vw;
      }
      img {
        width: 5vw;
        margin-top: -3vh;
      }
    }
    .exRate,
    .exMoney {
      display: flex;
      flex-direction: column;
      background-color: var(--color-text-white);
      font-size: 1.5rem;
      padding: 1vw;
      font-weight: 600;

      label {
        color: var(--color-bg);
      }

      .exchangeRate {
        border: none;
      }
    }

    .exRate {
      justify-content: space-between;
      height: 18vh;

      .pfRate {
        width: 3vw;
        align-self: flex-end;
        font-size: 3rem;
        margin-right: 4vw;
      }
    }

    .exMoney {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 40vh;

      .exOption,
      .kwdChange {
        display: flex;
        align-self: center;
        select,
        .koreaMoney,
        .expectedMoney,
        .changedMoney {
          width: 7vw;
          text-align: center;
          border: 1px solid var(--color-divide);
          height: 5vh;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 5.5vh;
          color: var(--color-divide);
        }
        select {
          height: 5.3vh;
        }

        .expectedMoney,
        .changedMoney {
          width: 13vw;
          border-left: none;
          text-align: left;
          padding-left: 1vw;
        }
      }
      .same {
        align-self: center;
        text-align: center;
        width: 3vw;
        height: 6vh;
        border-radius: 50%;
        font-size: 2rem;
        line-height: 6.5vh;
        color: var(--color-text-white);
        background-color: var(--color-bg);
      }
    }
  } // accountInfo, personalInfo 끝
  .personalInfo {
    padding: 1vw;
    background-color: var(--color-text-white);

    .pickPlace,
    .howToGet {
      div {
        color: var(--color-bg);
        font-size: 1.5rem;
      }
      .visited {
        display: inline-block;
        margin-top: 2vh;
        width: 12vw;
        font-size: 2rem;
        text-align: center;
        height: 6vh;
        line-height: 6vh;
      }
      .Atm {
        margin-right: 1vw;
      }
      input[type='radio']:checked {
        background-color: var(--color-bg);
      }
    }

    .getDate,
    .phoneNum {
      display: flex;
      flex-direction: column;
      label {
        color: var(--color-bg);
        font-size: 1.5rem;
      }
    }

    .pickPlace {
      .locations {
        height: 3vw;
        margin-top: 3vh;
        margin-bottom: 31vh;

        .locaBtn {
          .branchName,
          .address {
            text-align: left;
            font-weight: 500;
            font-size: 1rem;
            color: var(--color-text-black);
          }
        }
        .locaBtn {
          margin-top: 1vh;
        }
        .locaBtn:hover {
          cursor: pointer;
        }
      }
    }

    .howToGet,
    .getDate,
    .phoneNum {
      flex-grow: 1;

      .visited {
        width: 10vw;
        height: 5vh;
        font-size: 1.5rem;
        border: 1px solid var(--color-divide);
      }

      input[type='radio'] {
        display: none;
        margin: 1rem;
      }
      .selected {
        background-color: var(--color-bg);
        border: none;
        color: var(--color-text-white);
      }
    }

    .getDate {
      font-size: 1.5rem;
      color: var(--color-divide);
      margin-top: 1vh;
      width: 80%;
      height: 5vh;

      .receiptDate {
        margin-top: 2vh;
        width: 10vw;
        height: 5vh;
        font-size: 1rem;
      }
    }
    .exchangeSec {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      .exchangeBtn {
        width: 7vw;
        height: 5vh;
        background-color: var(--color-bg);
        align-self: flex-end;
        font-size: 1.2rem;
        color: var(--color-text-white);
        font-weight: 600;
      }
    }
  }
} // exchange Form 끝
